{
  "extends": "airbnb",
  "env": {
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "object-curly-newline": ["error", {
      "consistent": true
    }],
    "react/jsx-filename-extension": [0],
    "react/prop-types": [0],
    "max-len": [0],
    "comma-dangle": [0],
    "function-paren-newline": [0],
    "padded-blocks": ["error", {
      "blocks": "never",
      "classes": "always",
      "switches": "never"
    }],
    "keyword-spacing": ["error", {
      "overrides": {
        "if": {
          "after": false
        },
        "for": {
          "after": false
        },
        "while": {
          "after": false
        },
        "switch": {
          "after": false
        }
      }
    }],
    "quotes": ["error", "single", {
      "allowTemplateLiterals": true
    }],
    "prefer-const": ["warn"],
    "react/jsx-closing-bracket-location": ["error", "after-props"],
    "array-bracket-spacing": ["error", "always"],
    "brace-style": ["error", "stroustrup"],
    "react/no-unescaped-entities": ["error", {
      "forbid": [">", "}"]
    }],
    "space-before-function-paren": ["error", {
      "anonymous": "never",
      "named": "never",
      "asyncArrow": "always"
    }],
    "no-underscore-dangle": [0],
    "curly": [0]
  }
}
